* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playpen Sans', cursive;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-image: url('../images/background.webp');
    background-size: cover;
}

.header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-logo {
    display:flex;
    width: 50%;
    padding-left: 10%;
    align-items: center;
}

.header-name {
    font-size: smaller;
    padding-left: 2%;
}

.header-title {
    font-size: 1rem;
    font-weight: bold;
}

.nav {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-right: 15%;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-size: small;
}

.nav a:hover {
    color: #96949c;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.button-primary {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family:  'Playpen Sans', cursive;
    background: none;
    border-style: none;
    cursor: pointer;
    margin-right: 1rem;
}

.button-primary:hover {
    color: #96949c;
}

.material-symbols-outlined{
    margin-right: 0.5rem;
  }

.button-secondary {
    width: fit-content;
    font-family:  'Playpen Sans', cursive;
    font-weight: bolder;
    background-color: #ff9901;
    border: 1px solid #000000;
    border-radius: 0.4rem;
    color: #000000;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #000000;
    color: #ffffff;
}

.main {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
}

.section-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.section-left-top {
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.section-left-top h1 {
    font-size: 2.3rem;
}

.section-left-bot {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.section-items {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.section-items span {
    font-size: 1rem;
    margin-right: 10px;
}

.section-items p {
    font-size: 0.8rem;
}

.section-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.footer button {
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 50%;
    border-style: none;
    width: 60px; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer button span {
    padding-left: 50%;
}


@media (max-width: 468px) {

    .header {
        width: 100vw;
        margin-top: 3rem;
        flex-direction: column;
    }

    .header-logo {
        width: 100%;
        justify-content: flex-start;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        justify-content: center;
    }
    
    .nav a {
        margin: 1rem 0;
    }

    .nav-buttons {
        width:50vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .nav-buttons button {
        /* margin: 1rem 0; */
    }

    .button-secondary {
        width: 100%; 
    }

    .main {
        margin-top: 12rem;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .section-left-top{
        width: 100%;
        height: 50%;
        display: flex;
        padding-left: 0;
        padding-right: 0;
    }

    .section-left-top h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 1rem 0;
    }

    .section-left-top p {
        padding: 1rem 0;
    }

    .section-left-bot{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    
}
